<div>
  Id:{{ id }}<br />
  Name:{{ name }}<br />
  Avg:{{ avg }}<br />
  <br />
  <b>Address</b>
  <br />
  Flat No: {{ address.flatNo }}<br />
  City :{{ address.city }}<br />
  State:{{ address.state }}<br />
  <br />
  <b>Hobbies</b>
  <br />
  <ul>
    <li *ngFor="let hobby of hobbies">{{ hobby }}</li>
  </ul>
</div>
