<div align="center">
  <form #employee="ngForm" (ngSubmit)="getEmpById(employee.value)">
    <table>
      <tbody>
        <tr>
          <td align="right">Enter Employee ID</td>
          <td align="left"><input type="text" name="empId" ngModel /></td>
        </tr>
        <tr>
          <td></td>
          <td align="left"><button>GetEmployee</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<br />

<div *ngIf="emp; else notfound" align="center">
  <table border="2">
    <thead>
      <tr align="center">
        <th>EmpId</th>
        <th>EmpName</th>
        <th>Salary</th>
        <th>Gender</th>
        <th>DateOfJoin</th>
        <th>Country</th>
        <th>Email-Id</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr align="center">
        <td>{{ emp.empId }}</td>
        <td>{{ emp.empName }}</td>
        <td>{{ emp.salary }}</td>
        <td>{{ emp.gender }}</td>
        <td>{{ emp.doj }}</td>
        <td>{{ emp.country }}</td>
        <td>{{ emp.emailId }}</td>
        <td>{{ emp.password }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <ng-template #notfound>
    <h4 align="center">Employee record not found</h4>
  </ng-template>
</div>
