<!-- <app-test></app-test> -->
<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->
<!-- <app-emp-component></app-emp-component> -->
<!-- <app-get-emp-by-id></app-get-emp-by-id>/ -->
<!-- <app-product></app-product> -->
<app-header></app-header>
<router-outlet></router-outlet>
