<h3 align="center">Registration Form</h3>

<form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)">
  <div class="registration-form">
    <div class="form-group">
      <label for="empName">Employee Name:</label>
      <input
        type="text"
        name="empName"
        id="empName"
        ngModel
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="salary">Salary:</label>
      <input
        type="text"
        name="salary"
        id="salary"
        ngModel
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="gender">Gender:</label>
      <select name="gender" id="gender" ngModel class="form-control">
        <option value="" selected>Select Gender</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Others">Others</option>
      </select>
    </div>

    <div class="form-group">
      <label for="doj">Date of Join:</label>
      <input type="date" name="doj" id="doj" ngModel class="form-control" />
    </div>

    <div class="form-group">
      <label for="country">Country:</label>
      <select name="country" ngModel class="form-control">
        <option value="" selected>Select Country</option>
        <option value="{{ country.cca3 }}" *ngFor="let country of countries">
          {{ country.name.common }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="emailId">Email:</label>
      <input
        type="text"
        name="emailId"
        id="emailId"
        ngModel
        required
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
        class="form-control"
      />
      <div
        *ngIf="regForm.controls['emailId'] as emailControl"
        class="error-message"
      >
        <div
          *ngIf="
            emailControl.invalid && (emailControl.dirty || emailControl.touched)
          "
        >
          <div *ngIf="emailControl.errors?.['required']!">
            Email is required.
          </div>
          <div *ngIf="emailControl.errors?.['pattern']!">
            Invalid email format.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        name="password"
        id="password"
        ngModel
        required
        pattern="^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}"
        class="form-control"
      />
      <div
        *ngIf="regForm.controls['password'] as passwordControl"
        class="error-message"
      >
        <div
          *ngIf="
            passwordControl.invalid &&
            (passwordControl.dirty || passwordControl.touched)
          "
        >
          <div *ngIf="passwordControl.errors?.['required']!">
            Password is required.
          </div>
          <div *ngIf="passwordControl.errors?.['pattern']!">
            Invalid password format.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone:</label>
      <input
        type="text"
        name="phone"
        id="phone"
        ngModel
        required
        pattern="[6-9]\d{9}"
        class="form-control"
      />
      <div
        *ngIf="regForm.controls['phone'] as phoneControl"
        class="error-message"
      >
        <div
          *ngIf="
            phoneControl.invalid && (phoneControl.dirty || phoneControl.touched)
          "
        >
          <div *ngIf="phoneControl.errors?.['required']!">
            Phone number is required.
          </div>
          <div *ngIf="phoneControl.errors?.['pattern']!">
            Invalid phone number format.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary">Register</button>
    </div>
  </div>
</form>
